.container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.iconCircle {
    background-color: var(--White_Color);
    border-radius: 50%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.label {
    font-size: 1rem;
    font-weight: 400;
}