.OmrSheet {
  width: 210mm; /* A4 width */
  padding: 0 4mm;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.OMRheader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .OMRbody {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: flex-start;
} */

.OMRbody {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: flex-start;
}
.QuestionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
}
