.OmrBubble {
  border: var(--OMR_Border_Width) solid var(--OMR_Color);
  width: 14px;
  height: 14px;
  color: var(--OMR_Color);
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
